@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 106 67% 100%;
    --foreground: 106 62% 2%;
    --muted: 226 28% 88%;
    --muted-foreground: 226 5% 37%;
    --popover: 0 0% 99%;
    --popover-foreground: 106 62% 1%;
    --card: 0 0% 99%;
    --card-foreground: 106 62% 1%;
    --border: 106 6% 92%;
    --input: 106 6% 92%;
    --primary: 106 26% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 226 26% 32%;
    --secondary-foreground: 226 26% 92%;
    --accent: 346 26% 32%;
    --accent-foreground: 346 26% 92%;
    --destructive: 10 90% 25%;
    --destructive-foreground: 10 90% 85%;
    --ring: 106 26% 32%;
    --chart-1: 106 26% 32%;
    --chart-2: 226 26% 32%;
    --chart-3: 346 26% 32%;
    --chart-4: 226 26% 35%;
    --chart-5: 106 29% 32%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.main {
  width: 100%;
  height: 100%;
  --s: 140px;
  /* control the size */
  --c1: #ab3e5b;
  --c2: #ffbe40;

  --_g: #0000 25%, #0008 47%, var(--c1) 53% 147%, var(--c2) 153% 247%,
    var(--c1) 253% 347%, var(--c2) 353% 447%, var(--c1) 453% 547%, #0008 553%,
    #0000 575%;
  --_s: calc(25% / 3) calc(25% / 4) at 50%;
  background: radial-gradient(var(--_s) 100%, var(--_g)),
    radial-gradient(var(--_s) 100%, var(--_g)) calc(var(--s) / 2) calc(3 * var(--s) / 4),
    radial-gradient(var(--_s) 0, var(--_g)) calc(var(--s) / 2) 0,
    radial-gradient(var(--_s) 0, var(--_g)) 0 calc(3 * var(--s) / 4),
    repeating-linear-gradient(90deg,
      #accec0 calc(25% / -6) calc(25% / 6),
      #61a6ab 0 calc(25% / 2));
  background-size: var(--s) calc(3 * var(--s) / 2);
}